teht0/build/
teht0/*.user

esim0/build/
esim0/*.user

kotiteht1/build/
kotiteht1/*.user

kotiteht2/build/
kotiteht2/*.user

kotiteht3/build/
kotiteht3/*.user

kotiteht4/build/
kotiteht4/*.user
kotiteht4/*pro.user

kotiteht5/build/
kotiteht5/*.user
kotiteht4/*pro.user

